.jumbotron {
  padding: 20px 30px 10px 30px;
  margin: 0;
}

.initialBoard {
  padding: 10px 30px 30px 30px;
  text-align:center;
  margin:auto;
}

.nameGameBoard {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}
