.jumbotron {
  padding: 20px 30px 10px 30px;
  margin: 0;
}

.initialBoard {
  padding: 10px 30px 30px 30px;
  text-align:center;
  margin:auto;
}

.nameGameBoard {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

.canfade {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.fade {
  -webkit-opacity: 0.0;
  -moz-opacity: 0.0;
  opacity: 0.0;
}

.wrong {
  border: 1px solid red;
  display: inline-block;
}

.correct {
  border: 1px solid green;
  display: inline-block;
}
